.custom-file-input ~ .custom-file-label:lang(ru)::after {
  content: "Поиск";
}

.text {
  border: 1px solid $light-grey;
  ol, ul {
    margin-top: 1rem;
  }
}

.text, .code, .shell {
  padding: 1rem;
  border-radius: .25rem;
  tab-size: 2;
  white-space: pre-wrap;
  min-height: 7.4rem;
}

.code {
  background-color: #212529;
  color: #eee;
}

.shell {
  background-color: #300A24;
  color: #12DE00;
}

.code div {
  min-height: 1.3125rem;
}

.field-wrapper {
  margin-bottom: 1rem;
  pre, & > div {
    margin-bottom: .4rem;
  }
  .btn {
    padding: .15rem .5rem;
    height: 2rem;
  }
  .btn.btn-preview, .btn.btn-change {
    padding: .375rem .75rem;
    height: auto;
  }
  .input-group > .input-group-append > .btn.btn-change {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 1px;
  }
  .remove-btn .svg-inline--fa {
    font-size: 1.2rem;
  }
  &:first-child {
    .swap-up {
      display: none;
    }
  }
  &:last-child {
    .swap-down {
      display: none;
    }
  }
}

.field-controls {
  text-align: center;
  .btn {
    margin: 0 .2rem;
  }
}

#text-controls {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0 auto .5rem auto;
  button.btn {
    border: 1px solid $light-grey;
    margin: .2rem;
    height: initial;
    padding: .375rem .75rem;
    min-width: 4.5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

#content-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  button {
    min-width: 5rem;
    margin-bottom: .5rem;
  }
}

#title-btn {
  font-weight: bold;
}

#bold-btn {
  font-weight: bold;
}

#em-btn {
  font-style: italic;
}

form .post-tag {
  background-color: $white;
  &:hover {
    background-color: #e2e6ea;
  }
}
