@mixin control-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  button {
    border: 1px solid rgba(0,0,0,.125);
    margin: .1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.text {
  border: 1px solid $light-grey;
}

.text, .code, .shell {
  padding: 1rem;
  border-radius: .25rem;
  tab-size: 2;
  white-space: pre-wrap;
  min-height: 7.4rem;
}

.code {
  background-color: #212529;
  color: #eee;
}

.shell {
  background-color: #300A24;
  color: #12DE00;
}

.code div {
  min-height: 1.3125rem;
}

.field-wrapper {
  margin-bottom: 1rem;
  pre, & > div {
    margin-bottom: .4rem;
  }
  .btn {
    padding: .15rem .5rem;
    height: 2rem;
  }
  .btn.btn-preview, .btn.btn-change {
    padding: .375rem .75rem;
    height: auto;
  }
  .input-group > .input-group-append > .btn.btn-change {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 1px;
  }
  .remove-btn .svg-inline--fa {
    font-size: 1.2rem;
  }
  &:first-child {
    .swap-up {
      display: none;
    }
  }
  &:last-child {
    .swap-down {
      display: none;
    }
  }
}

.field-controls {
  text-align: center;
  .btn {
    margin: 0 .2rem;
  }
}

#content-controls {
  @include control-flex;
  #bold-btn {
    font-weight: bold;
  }
  #em-btn {
    font-style: italic;
  }
}

#clear-controls {
  @include control-flex;
  margin-top: .5rem;
  button {
    width: 5rem;
  }
}

#content-controls.fixed {
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 3rem;
  left: 0;
  text-align: center;
  background-color: #fff;
  padding: .4rem 0;
}
