.text {
  border: 1px solid $light-grey;
}

.text, .code, .shell {
  padding: 1rem;
  border-radius: .25rem;
  tab-size: 2;
  white-space: pre-wrap;
  min-height: 7.4rem;
}

.code {
  background-color: #212529;
  color: #eee;
}

.shell {
  background-color: #300A24;
  color: #12DE00;
}

.code div {
  min-height: 1.3125rem;
}

.field-wrapper {
  margin-bottom: 1rem;
  pre {
    margin-bottom: .4rem;
  }
  .btn {
    padding: .15rem .5rem;
    height: 2rem;
  }
  .remove-btn .svg-inline--fa {
    font-size: 1.2rem;
  }
  &:first-child {
    .swap-up {
      display: none;
    }
  }
  &:last-child {
    .swap-down {
      display: none;
    }
  }
}

.field-controls {
  text-align: center;
  .btn {
    margin: 0 .2rem;
  }
}

#content-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  button {
    border: 1px solid rgba(0,0,0,.125);
  }
  #bold-btn {
    font-weight: bold;
  }
  #em-btn {
    font-style: italic;
  }
}

#content-controls.fixed {
  position: fixed;
  right: 0;
  bottom: 3rem;
  left: 0;
  text-align: center;
  background-color: #fff;
  padding: .5rem 15px;
}
