.confirmation-modal {
  .modal-body {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 15px;
  }
}

#account-modal {
  .modal-header {
    justify-content: space-between;
  }
  .list-group {
    flex-direction: row;
  }
  .list-group-item {
    margin-bottom: 0;
    margin-left: -1px;
    min-width: 5rem;
    flex: 1;
    box-sizing: initial;
    &:first-child {
      border-bottom-left-radius: .25rem;
      border-top-right-radius: 0;
      margin-left: 0;
    }
    &:last-child {
      border-top-right-radius: .25rem;
      border-bottom-left-radius: 0;
    }
    &:only-child {
      border-bottom-left-radius: .25rem;
    }
  }
  .list-group-item-action {
    text-align: center;
  }
  .close {
    line-height: 3.125rem;
  }
  .form-group {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#preview-modal {
  .modal-content {
    border: none;
  }
  .modal-body {
    padding: 0;
    img {
      border-radius: .3rem;
      width: 100%;
    }
  }
}

#list-social > .modal-body {
  display: flex;
}

#social-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  a {
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    color: $grey;
    background-color: $white;
    padding: .5rem 3.5rem .5rem 4rem;
    border: 1px solid $light-grey;
    border-radius: .25rem;
    box-shadow: 1px 2px $light-grey;
    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: .75rem;
      width: 1.8rem;
      height: 100%;
    }
    &:hover {
      text-decoration: none;
      box-shadow: 3px 3px $light-grey;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

#remove-notice {
  margin-bottom: 1rem;
}

#google-btn:before {
  background: url('/img/google.svg') center center no-repeat;
  background-size: contain;
}

#github-btn:before {
  background: url('/img/github.svg') center center no-repeat;
  background-size: contain;
}

#vk-btn:before {
  background: url('/img/vk.svg') center center no-repeat;
  background-size: contain;
}
