header {
  margin-bottom: 2rem;
}

.btn-link.dropdown-toggle {
  padding: 0;
  margin: .5rem 0;
  color: $white;
  border: 0;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.navbar-dark {
  .navbar-toggler {
    border-color: rgba(255,255,255,.5);
  }
}

#home-selector-container {
  display: flex;
  justify-content: space-between;
  min-width: 16rem;
}

#language-selector {
  display: inline-block;
  .dropdown-menu {
    padding: 0;
  }
  .dropdown-toggle:after {
    margin-left: .75rem;
  }
  button {
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    text-align: left;
    color: $grey;
    background-color: $white;
    padding: .5rem .75rem .5rem 3.5rem;
    border-radius: .25rem;
    min-width: 10rem;
    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: .75rem;
      width: 1.8rem;
      height: 100%;
    }
  }
}

#ru-btn:before {
  background: url('/img/ru.png') center center no-repeat;
  background-size: contain;
}

#en-btn:before {
  background: url('/img/en.png') center center no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  #home-selector-container {
    width: 18rem;
  }
  #navbar-menu {
    margin-left: 2rem;
  }
}
