$border-grey: 1px solid $light-grey;

.post-wrapper {
  padding-top: .5rem;
  padding-bottom: .5rem;
  &:hover .post-controls {
    visibility: visible;
  }
}

.post-link:hover {
  text-decoration: none;
}

.post-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-preview-top {
  position: relative;
  height: 286px;
  background: $light-grey;
  img {
    position: absolute;
    width: 100%;
    visibility: hidden;
    margin: auto;
  }
}

.post-preview-bottom {
  display: flex;
  align-items: flex-end;
}

.post-category {
  font-size: 1.5rem;
  color: $dark-grey;
}

.post-comments {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: $dark-grey;
}

.post-comments {
  .count {
    margin-left: .5rem;
    color: $grey;
  }
}

.post-title {
  flex-basis: 100%;
  margin-bottom: 0;
  padding: 1rem 0;
  border-right: $border-grey;
  border-bottom: $border-grey;
  border-left: $border-grey;
  text-align: center;
  color: $dark-grey;
}

.post-controls {
  visibility: hidden;
  margin-left: 1rem;
  .btn-link {
    margin-left: .5rem;
  }
}

.post-top {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .post-wrapper {
    padding: .5rem;
  }
}
