html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

header {
  margin-bottom: 2rem;
}

footer.navbar {
  color: #fff;
}

#main {
  margin-bottom: 4rem;
}

#shadow {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,.1);
  z-index: 1051;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

#cog {
  position: fixed;
  top: -2rem;
  margin-top: 50vh;
  font-size: 4rem;
}

.svg-inline--fa {
  font-size: 1.5rem;
}

#copy {
  font-size: .9rem;
}

#up-btn {
  padding: .15rem .5rem;
  visibility: hidden;
}

button {
  cursor: pointer;
}

/* navbar */

.btn-link.dropdown-toggle {
  padding: 0;
  margin: .5rem 0;
  color: #fff;
  border: 0;
}

.btn-link.dropdown-toggle:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,.5);
}

/* posts */

.post-wrapper {
  padding: .5rem 0;
}

.post-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.125);
  height: 15rem;
}

.post-preview-top {
  display: flex;
  justify-content: space-between;
  padding: .4rem 1.2rem;
}

.post-preview-bottom {
  display: flex;
}

.post-category {
  font-size: 1.5rem;
  color: #424242;
}

.post-comments {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: #424242;
}

.post-comments .count {
  margin-left: .5rem;
  color: rgba(0,0,0,.5);
}

.post-title {
  flex-basis: 100%;
  margin-bottom: 0;
  padding: 1rem 0;
  border-top: 1px solid rgba(0,0,0,.125);
  text-align: center;
  color: #007bff;
}

.post-controls {
  position: absolute;
  top: 4.5rem;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  left: 1.2rem;
  z-index: 50;
}

.post-controls .btn-link {
  margin-top: .5rem;
  padding: 0;
  text-align: left;
}

.post-top {
  display: flex;
  justify-content: space-between;
}

/* post */

#post {
  margin-bottom: 1rem;
}

#post-title {
  text-align: center;
  margin: 1rem 0;
}

#post-content {
  text-align: justify;
}

#post-tags {
  margin-bottom: 1rem;
}

#post-tags .tag {
  display: inline-block;
  margin-right: .5rem;
  padding: .2rem .5rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

#related-posts {
  margin-bottom: 2rem;
}

#related-posts .row {
  margin: 0;
}

#related-posts .col-md-4 {
  padding: 0;
}

.related-post {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0;
  border: 1px solid rgba(0,0,0,.125);
  height: 10rem;
}

.related-post .bottom {
  flex-basis: 100%;
}

.related-post .bottom .title {
  margin-bottom: 0;
  padding: .5rem 0;
  border-top: 1px solid rgba(0,0,0,.125);
  text-align: center;
}

/* comments */

#comments {
}

#comment-form {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#comment-content-input {
  margin-bottom: .5rem;
}

#cancel-edit {
  margin-left: .5rem;
}

.comment {
  margin-bottom: 1rem;
}

.comment-wrapper {
  border: 1px solid rgba(0,0,0,.125);
}

.comment-top {
  padding: .5rem 1rem;
}

.comment-content {
  padding: 1rem;
}

.comment-controls {
  visibility: hidden;
}

@media (min-width: 768px) {
  .post-wrapper {
    padding: .5rem;
  }
  #related-posts {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #related-posts .col-md-4 {
    padding: 0 15px;
  }
}
